@using EStalls.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var displayName = "";
    var isSignedIn = SignInManager.IsSignedIn(User);
    var isSeller = false;

    if (isSignedIn)
    {
        var user = await UserManager.GetUserAsync(User);
        displayName = user.DisplayName;

        isSeller = await UserManager.IsInRoleAsync(user, Constants.RoleTypes.Seller);
    }
}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Purchase/Cart" title="Cart">カート</a>
    </li>

    @if (isSignedIn)
    {
        if (isSeller)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Seller" asp-page="/Items/Register" title="Register">作品投稿</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Seller" asp-page="/Items/Manage/Index" title="Register">作品管理</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@displayName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
