@page "{ItemId}"
@using EStalls.Data.Models
@model EStalls.Areas.Seller.Pages.Items.Manage.EditBaseInfoModel
@{
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="InputItem.ThumbnailFile"></label>
                <input asp-for="InputItem.ThumbnailFile" class="form-control-file" />
                <span asp-validation-for="InputItem.ThumbnailFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InputItem.PreviewFiles"></label>
                <input asp-for="InputItem.PreviewFiles" class="form-control-file" />
                <span asp-validation-for="InputItem.PreviewFiles" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InputItem.Title"></label>
                <input asp-for="InputItem.Title" class="form-control" />
                <span asp-validation-for="InputItem.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InputItem.Description"></label>
                <textarea asp-for="InputItem.Description" class="form-control"></textarea>
                <span asp-validation-for="InputItem.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InputItem.Price"></label>
                <input asp-for="InputItem.Price" class="form-control" />
                <span asp-validation-for="InputItem.Price" class="text-danger"></span>
            </div>

            <button type="submit" asp-page-handler="EditItem" class="btn btn-primary">更新する</button>
        </form>
    </div>
</div>
